/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
border: 0;
margin: 0;
}

img
{
border: 0px;
}

body{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	background: url(images/back.gif);
	line-height: 18px;
}

#bg_top
{
background: url(images/back_all.jpg) repeat-x;
width: 100%;
height: 100%
}

#main {
	width: 1186px;
	margin: 0px auto;
	background:url(images/main.jpg) right top no-repeat;}

#header { 
	height: 167px;
}

#logo {	
		padding: 24px 0px 0px 67px;
}


#logo a {
	text-decoration: none;
	font-size: 16px;
	color: #BE2900;
	font-style: italic;
}
	
#logo H2 a{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: 100;
	padding-left: 35px;
}

#buttons{
	text-align:center;
	height: 50px;
	margin-left: 0px;
	background: url(images/buttons.jpg);
	padding: 9px 0px 0px 240px;
	border: 2px solid #ffffff;
	border-top: none;
}

#buttons a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 100;
	display: block;
	float: left;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	padding-top: 10px;
	height: 40px;
	width: 140px;
}

.but {
	
}

.but_razd { height: 40px;
			width: 1px;
			background: url(images/but_razd.gif) 0px 8px no-repeat;
			float: left;}

#buttons .but:hover {
	text-decoration: none;
	text-decoration: underline;}

	
.top { height: 381px;
	padding: 0px 0px 0px 0px;}	

.top_img { background: url(images/img_top.jpg) left top no-repeat;
		height: 381px;
		width: 1186px;
		float: left;
		margin: 0px;}
		
	
.circl_all { margin: 0px auto 0px auto;
			padding-top: 50px;
			height: 13px;
			width: 95px}

.circl { background: url(images/circl.gif) left top no-repeat;
	height: 14px;
	width: 13px;
	margin: 0px 3px 0px 3px;
	float: right;
	}
.circl:hover {
	background:url(images/circl_hov.gif) left top no-repeat; }

#content{
	background: #EFEBE3;
	padding: 8px 23px 8px 23px;
	width: 1137px;
	border: 1px solid #FFFFFF;
	margin: 0px 0px 0px 0px;
}
/* CONTENT */
.container {width:100%}
.container p{padding-bottom: 20px;}
.col-1 {width:353px;margin-right:12px}
.col-1 h2 {background:url(images/title-tail.gif) repeat-x left top; height: 44px; padding-top: 6px; color: #ffffff}
.col-1 h2 em {display:block;background:url(images/title-left.gif) no-repeat left top}
.col-1 h2 b {display:block;background:url(images/title-right.gif) no-repeat right top;padding:6px 0 7px 40px}
.col-1 ul li {line-height:1.5em;padding-bottom:20px}
.col-1 ul li a {color:#000;font-weight:bold;text-decoration:none}
.col-1 ul li a:hover {text-decoration:underline}
.col-2 {width:747px}
.col-2 .col-1 {width:238px;margin-right:14px}
.col-2 .col-2 {width:238px;margin-right:14px}
.col-2 .col-3 {width:238px}

.indent1 {padding:0 34px 40px 0px}
.indent1 li{list-style: none}
.indent1 ul li a{color: #BE2900;}
.read {color: #BE2900; float: right}
.indent2 {padding:0 10px 0 21px}
.indent3 {padding-bottom:10px}
.wrapper {width:100%;overflow:hidden}
.box {background:#f0ece5;width:100%}
.box .border-top {background:url(images/border-top.gif) repeat-x left top}
.box .border-bot {background:url(images/border-bot.gif) repeat-x left bottom}
.box .border-left {background:url(images/border-left.gif) repeat-y left top}
.box .border-right {background:url(images/border-right.gif) repeat-y right top}
.box .left-top-corner {background:url(images/left-top-corner.gif) no-repeat left top}
.box .right-top-corner {background:url(images/right-top-corner.gif) no-repeat right top}
.box .left-bot-corner {background:url(images/left-bot-corner.gif) no-repeat left bottom;width:100%}
.box .right-bot-corner {background:url(images/right-bot-corner.gif) no-repeat right bottom}
.box .inner {padding:22px 22px 24px 31px;min-height:244px;height:auto!important;height:244px}
.inner H3{color: #BE2900; font-style: italic}
.img-indent {padding-bottom:15px;margin-left:-9px; padding-top: 10px}
.col-1, .col-2, .col-3 {float:left}
h2 {padding-bottom: 20px; padding-top: 10px; color: #BE2900; font-style: italic}
.banner {position:relative;margin-left:	17px}



#footer{
	height: 55px;
	font-size: 10px;
	color: #000000;
	text-align: center;
	padding: 17px 0px 0px 0px;
	background: url(images/footer.jpg) 0px 15px no-repeat;
	font-weight: 100;
}

#footer a{
	color: #000000;
	font-size: 10px;
	text-decoration: none;
	font-weight: 100;
}

#footer a:hover{
	color: #666666;
	font-size: 10px;
	text-decoration: underline;
	font-weight: 100;
}


/*
scroll styles here
*/

.item { width: 1186px; height: 281px;}
.item img {float:left;}
.item h2 { border:none; margin-bottom:15px;}

.scrollable { position:relative; overflow:hidden; width: 1186px; height: 281px;} 
.scrollable .items {
	width:20000em;
	position:absolute;
	left: -1px;
	top: -1px;
}
.scrollable .items div { float:left;} 
.scrollable .items .item { overflow:hidden;}
.scrollable .items .item p { line-height:16px;}
.navi { height:20px; margin: 0px auto; padding-left: 550px;} 
.navi a { width: 30px; cursor:pointer; height: 30px; float:left; margin:0 0 0 3px; background:url(images/circl.png) no-repeat scroll right top; display:block; font-size:1px;} 
.navi a:hover, .navi a.active { background-position:left top; margin:0 0 0 3px;  background:url(images/circl_hover.png) no-repeat scroll right top}

.header1
{
width: 11186px; height: 281px;
background: url(images/img_top.jpg) no-repeat;
}

.header2
{
width: 1186px; height: 281px;
background: url(images/img_top2.jpg) no-repeat;
}

.header3
{
width: 1186px; height: 2815px;
background: url(images/img_top3.jpg) no-repeat;
}


/* ------------------------------------------------------------------------
DO NOT CHANGE
------------------------------------------------------------------------- */


div.pp_overlay {background: #000;display: none;left: 0;position: absolute;top: 0;width: 100%;z-index: 9500;}
div.pp_pic_holder {display: none;position: absolute;width: 100px;z-index: 10000;}
